html{
    height: 100%;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-color: #ec0000; /* Red background color */
    color: white; /* Text color */
}
.circle-button {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.7); /* Background color for the circular button */
}
.circle-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-text {
    font-size: 18px;
    text-align: center;
    font-family: Arial, sans-serif;
}